# Android emulator example:
# EXPO_PUBLIC_API_BASE_URL=http://10.0.2.2:8000/api/v1
#
# Physical device example:
# EXPO_PUBLIC_API_BASE_URL=http://YOUR_PC_LAN_IP:8000/api/v1

EXPO_PUBLIC_API_BASE_URL=https://irtiwaa.ziedtech.com/api/v1
EXPO_PUBLIC_REVERB_HOST=irtiwaa.ziedtech.com
EXPO_PUBLIC_REVERB_PORT=443
EXPO_PUBLIC_REVERB_SCHEME=https
EXPO_PUBLIC_REVERB_APP_KEY=78dp9ud63xntwmvmjybc
